body {  
    font-family:  'Playfair Display', sans-serif;  
    margin: 0;  
    padding: 0;  
    background-color: #d8d1d5;  
    color: #333;  
    text-align: center;  
  }  
  
  ul{
    
    text-align: right;
    
  }
  li{
    display: inline;
    padding-left: 50px;
  }
   
  li:hover{
    text-decoration: underline;
  }
  a{
  
    color: black;
    text-decoration: none;
    
  }
  div {
    margin:4rem 0;}
  .para p{
    width: 1000px;  
    padding-left: 18%;
    
  }
  .hero{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding:50px;
  }
  
  h1 {
  font-size: 1.5cm;
    padding: 50px; 
  }  
  h2 {  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2em;  
    font-weight: 400;  
    margin:0;   } 
   
  .about-me {  
    margin: top 0px;
    font-size: 0.5cm;  
  }  
  .about-me img {  
    border-radius: 90%;  
    width: 255px;  
    height: 200px;  
  }  
  nav {  
    margin-top: -300px;  
  }  
  nav a {  
    margin: 0 -200px;  
    text-decoration: none;  
    color: #333; 
  }  
  section{  max-width: 300px;  
    margin: 20px auto;  
    padding: 80px;  
    background:  #d8d1d5;  
    border-radius: 10px;  
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
   text-align: center;}
  section ul{
    text-align: center;
  }
  section li{
    display: inline;
    padding-left: 1%;
  }
  .project {
    display: inline-block;
    width: 20%;
    margin: 1rem;
    padding: 6rem 0;
    border: 1px solid black;
  }
  .project:hover {
    box-shadow: 2px 4px 8px black;
  }
  .contact h5 {
    font-family: Arial, Helvetica, sans-serif;
    font: size 3rem; ;
  }
  .contact h5 {
    font-family: Arial, Helvetica, sans-serif;
    font: size 3rem; ;
  }
  
  footer{
    padding: 30px;
    padding-bottom: 0%;  
    padding-top: 1%;
      
    text-align:justify;
   background-color: rgb(241, 234, 234);
   }
   .col-md-4{
    padding: bottom 4px;
  }
  footer p{
    text-decoration-color: rgb(15, 14, 14);
    margin:100;
    padding: 1rem;
  }
  .last{
    padding-left: 40%;
    font-size: medium;
  }
  
